body{
    
}

p{
   /*background-color: rgba(100, 100, 100,0.5); */
   position: absolute;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    top: 300px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1{
    position: relative;
    top: 20px;
    left: 20px;
}
#HL{
    position: absolute;
    /* background-color: black; */
    padding-left: 10%;
    padding-right: 10%;
    top: 90%;
}

