body{
    background-image: url(assets/grass-water-blur.png);
    background-color: black;
    color: rgb(213, 229, 241);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

h1{
    color: rgb(213, 228, 240);
}

p{
    padding: 20px;
}


#p5{
    top: 50%;

}

a{
    color: rgb(239, 150, 215);
}

#home{
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: rgb(158, 207, 245);
}